{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block additional_head_info %}
<meta http-equiv="refresh" content="10">
{% endblock %}

{% block body %}
<h1>{{ project.title|escape }}</h1>
<ul>
  <li>Groups per project: {{ project.groups|length }}</li>
  <li>Students per group: {{ project.studentsPerGroup }}</li>
</ul>

<table>
  <caption>Students</caption>
  <tr>
    <th>Student</th>
    <th>Group</th>
    <th>Actions</th>
  </tr>
  {% for student in students %}
    <tr>
      <td>{{ student.fullName|escape }}</td>
      <td>{% if student.belongsToGroup %}#{{ student.belongsToGroup.id }}{% else %}-{% endif %}</td>
      <td><a href="{{ path('delete_student', { 'id': student.id }) }}">[X]</a></td>
    </tr>
  {% endfor %}
</table>

<form method="get" action="{{ path('new_student') }}">
  <input type="submit" value="New student">
</form>

<h1>Groups</h1>
{% for group in project.groups %}
  <table>
    <caption>Group#{{ group.id }} {% if group.students|length == project.studentsPerGroup %}(this group is full){% endif %}</caption>
    {% for i in range(0, project.studentsPerGroup -1) %}
      <tr>
        <td>
          {% set break = false %}
          {% for student in group.students %}
            {% if not break %}
              {% if student.positionInGroup == i %}
                {% set break = true %}
                {{ student.fullName|escape }}
              {% endif %}
            {% endif %}
          {% endfor %}
          {% if not break %}
            <a href="{{ path(
              'assign_group',
              { 'groupId': group.id, 'position': i }
            ) }}">Assign participant</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
{% endfor %}

{% endblock %}
